extends ../layout/index

block content
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center Real 
            span.font-normal State
        h1.text-center.text-2xl.font-extrabold=page

        h2(class="text-xl font-bold text-center my-10")=msg
        input(type="hidden" name="_csrf" value=csrfToken)